<div class="first-page-card" [ngClass]="{snapped: nombreSnap}">
    <a routerLink="/facesnaps">BACK</a>
    <h2>{{faceSnap.title | uppercase }}</h2>
    @if (faceSnap.location) {
        <p>location: {{faceSnap.location}}</p>
    } @else {
        <p>there is noo location</p>
    } 
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{faceSnap.description }}</p>
    <p> <button (click)="onSnaps()">{{textButon}}</button>
       <span [ngStyle]="{color: 'rgb(0, ' + faceSnap.snaps + ', 0)'}">🤌 {{faceSnap.snaps }}</span>
    <p>Mis en ligne le {{faceSnap.createdAt | date: 'dd-MMMM-YYYY, a HH:mm' }}</p>
</div>
    